<h1>Alta de usuarios</h1>
<div class="registerForm">
  <form>
    <div class="enterData">Tipo de usuario: <select name="newRole" [(ngModel)]="newRole"><br/>
        <option value='patient'>Paciente</option>
        <option value='doctor'>Médico</option>
        <option value='technical'>Administrativo</option>
      </select>
    </div>
    <div class="enterData">ID: <input class="registerInput" placeholder="Código de usuario" name="newUserId" [(ngModel)]="newId"></div>
    <div class="enterData">Nombre: <input class="registerInput" placeholder="Nombre" name="newUserName" [(ngModel)]="newName"></div>
    <div class="enterData">Apellidos: <input class="registerInput" placeholder="Apellidos" name="newUserSurname" [(ngModel)]="newSurname"></div>
    <div class="enterData">DNI: <input class="registerInput" placeholder="DNI" name="newUserDNI" [(ngModel)]="newDNI"></div>
    <div class="enterData">Nombre de usuario: <input class="registerInput" placeholder="Nombre de usuario" name="newUserLogin"
        [(ngModel)]="newLogin"></div>
    <div class="enterData">Contraseña: <input class="registerInput" type="password" placeholder="Contraseña" name="newUserPass"
        [(ngModel)]="newPass"></div>
  </form>
</div>
<div class="buttons"><div class="register" (click)="registerUser(newRole,newId,newName,newSurname,newDNI,newLogin,newPass)">Enviar</div>
  <div class="back" (click)="goBack()">Atrás</div>
</div>
